.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.main-sidebar{
	position: relative;
	width: 300px;
	min-height: 100vh;
	box-shadow: 0 0 64px #e4e6eb;
}