button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 4px;
	background: $color__background-button;
	color: rgba(255,255,255, 0.9);
	line-height: 19px;
	padding: 6px 18px;
	transition: 0.2s;
	&:hover {
		border-color: $color__border-button-hover;
		background-color: darken($color__background-button, 10);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
	cursor: pointer;
}
